[submodule "/Users/mmasashi/dotfiles/vimfiles/vundle.git"]
	url = http://github.com/gmarik/vundle.git
[submodule ".vim/vundle.git"]
	url = git://github.com/gmarik/vundle.git
[submodule "neobundle.vim"]
	path = neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
